#services-section h1{
    align-items: center;
    justify-content: center;
    text-align: center;
    /* color:red; */
}
#services{
    flex-direction: column;
    position: relative;
}
#services .container { 
    padding: 14px;
    margin: 10px 5px; 
    margin-bottom: 20px;
    flex-direction: column;
    /* flex: 100%; */
    /* position: absolute; */
}
#services .container p { 
    padding: 14px;
    flex-direction: column;
    /* flex: 100%; */
    /* position: absolute; */
}
